<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .collapsible {
      background-color: thistle;
      color: darkslategray;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .active,
    .collapsible:hover {
      color: mediumvioletred;
    }

    .content {
      padding: 0 18px;
      display: none;
      overflow: hidden;
      font-size: 20px;
      background-color: white;
    }
  </style>
</head>

<body>

  <h1>Freuqently Asked Questions</h1>
  <button type="button" class="collapsible">
    <h2>How to create a Beauty Bebo Account and what are the benefits of creating a account ?</h2>
  </button>
  <div class="content">
    <p>You can register on beauty bebo using Register button (<i class="fa fa-user" aria-hidden="true"></i>) on top
      Right</p>
    <ul>
      <li>Benefits of Registration-</li>
      <li>Easy and Fast Check out</li>
      <li>Reward points accumulation</li>
      <li>Offers Notification</li>
    </ul>
  </div>
  <button type="button" class="collapsible">
    <h2>How to reset my Password in case I have forgot it ?</h2>
  </button>
  <div class="content">
    <p>Click to my Account- Forgot Password- Enter your E-Mail and you will get a link to reset your password on your
      mail.</p>
  </div>
  <button type="button" class="collapsible">
    <h2>How to Change my Address ?</h2>
  </button>
  <div class="content">
    <p>Login in your account and you will get a button to add more address. Don’t worry; we will remember all your
      addresses until you delete them.</p>
  </div>
  <button type="button" class="collapsible">
    <h2> How can I pay for my purchases ?</h2>
  </button>
  <div class="content">
    <p> You can Pay through Net Banking/Credit Card/Debit card/Wallet or Cash on Delivery.</p>
  </div>
  <button type="button" class="collapsible">
    <h2>How Can I contact BeautyBebo in case I am required to ?</h2>
  </button>
  <div class="content">
    <p>You can always write us on support@beautybebo.com</p>
  </div>
  <button type="button" class="collapsible">
    <h2>Can I Return a product ?</h2>
  </button>
  <div class="content">
    <p>Yes, We have a return policy for our customers. Kindly refer return policy.</p>
  </div>
  <button type="button" class="collapsible">
    <h2>What is mode of shipping for the purchased products ?</h2>
  </button>
  <div class="content">
    <p> We ship the products same day through the ecommerce courier partners.</p>
  </div>
  <button type="button" class="collapsible">
    <h2>Will I get the shipping details on my mail or SMS ?</h2>
  </button>
  <div class="content">
    <p>Yes, You will get the details of the shipping on your mail or phone.</p>
  </div>
  <button type="button" class="collapsible">
    <h2>How to cancel my order ?</h2>
  </button>
  <div class="content">
    <p>You can write to our customer support team on cancellation@beautybebo.com</p>
  </div>
  <button type="button" class="collapsible">
    <h2>How will I get my refund in case of cancellation of Order ?</h2>
  </button>
  <div class="content">
    <p>The Money will be Refund to original payment method.</p>
  </div>


  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
  </script>

</body>

</html>