body{
    font-family: "Helvetica Neue", sans-serif;
}
#nav{
    background-color: #ee29a2;
    text-align: center;
}
*{
    margin: 0px;
    padding: 0px;
}
.image{
    margin-right: 30px;
}
#nav ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #fff;
}
#nav ul li{
    margin: 5px;
    padding: 10px;
}
a{
    color: #fff;
    text-decoration: none;
}
#middle{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#logo{
    width: 25%;
}
#search{
    display: flex;
    width: 55%;
    height: 35px;
    margin-top:20px;
    border :1px solid gray;
    border-radius: 4px;
}
#left{
    display: flex;
    width: 40%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 9px;
}
#content{
    color: rgb(124, 119, 119);
    font-size: 14px;
}
#select{
    color:rgb(128, 125, 125);
    border: 0px;
}
#line{
    height: 20px;
    width: 0px;
    border: 1px solid rgb(196, 187, 187);
    margin-top: 8px;
}
#right{
    display: flex;
    width: 60%;
    margin-left: 30px;
    justify-content: space-between;
    margin-top: 2px;
}
#text{
    border: 0px;
}
#icon1{
    width: 50px;
    margin-top: -2px;
    background-color: #ee29a2;
    color: #fff;
}
#icon1 i{
    width: 50px;
    height: 100%;
    margin-left: 15px;
    margin-top:10px ;
}
#account{
    display: flex;
    width: 15%;
    justify-content: space-around;
    margin-top: 22px;
}
#icon2{
    box-sizing: border-box;
    padding: 5px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}
#icon3{
    box-sizing: border-box;
    padding: 5px;
    height: 35px;
    border: 1px solid rgb(163, 153, 153);
    font-size: 20px;
    cursor: pointer;
}
#ac a{
    font-size: 18px;
    margin: 8px;
    font-weight: 400;
    color: black;
}
.active,#nav ul li:hover{
    background-color: rgb(199, 32, 157);
    border-radius: 5px;
}


/*media query for responsive design */
@media screen and (min-width:360px) and (max-width:520px){
    
}